//- button.play Play
//- div.year 1990

h2 New York wages

ul#legend
    li.quintile1
        b
        div Bottom 20% of all US counties
    li.quintile2
        b
        div Lower-middle 20%
    li.quintile3
        b
        div Middle 20%
    li.quintile4
        b
        div Upper-middle 20%
    li.quintile5
        b
        div Top 20%
    li.no-data
        b
        div No data

div.wrapper
    h3 1990
    div#graphic1990.graphic
    
div.wrapper
    h3 2015
    div#graphic2015.graphic
